<div class="container mt-4">
  <div class="card shadow-sm">
    <div class="card-header bg-warning text-white text-center">
      <h5 class="mb-0">Player Registration</h5>
    </div>
    <div class="card-body">
      <form [formGroup]="playerForm" (ngSubmit)="onSubmit()">

        <!-- Player Name -->
        <div class="mb-3">
          <label for="playerName" class="form-label">Player Name</label>
          <input type="text" id="playerName" formControlName="playerName" class="form-control"
            placeholder="Enter player name">
          <div *ngIf="playerForm.get('playerName')?.touched && playerForm.get('playerName')?.invalid"
            class="text-danger small">
            Player Name is required
          </div>
        </div>

        <!-- Place -->
        <div class="mb-3">
          <label for="place" class="form-label">Place</label>
          <input type="text" id="place" formControlName="place" class="form-control" placeholder="Enter place">
          <div *ngIf="playerForm.get('place')?.touched && playerForm.get('place')?.invalid" class="text-danger small">
            Place is required
          </div>
        </div>
        <!-- Submit -->
        <div class="d-grid">
          <button type="submit" class="btn btn-warning text-white" [disabled]="playerForm.invalid">
            Submit
          </button>
        </div>

      </form>
      <h6 *ngIf="isError" class="text-danger ">{{errorMessage}}</h6>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="regModal" tabindex="-1" aria-labelledby="regModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-success text-white">
        <h5 class="modal-title" id="regModalLabel">Registration Successful</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        Your Registration No is: <strong>{{ playerResponse?.userNumber }}</strong>
      </div>
      <div class="modal-body">
        Your Name is: <strong>{{ playerResponse?.user?.name }}</strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>