<div class="container-fluid p-3">
    <div class="card shadow-sm p-3">
        <div class="d-flex justify-content-between align-items-center flex-wrap mb-3">
            <h4>Happy onam </h4>

            <button class="btn btn-danger btn-sm"  (click)="onGetUpdate()">Refresh</button> 
            <button class="btn btn-success btn-sm" routerLink="/admin" >Back</button>

        </div>


        <!-- Users Overview -->
        <div  class="table-responsive">
            <!-- <h5>Users Overview</h5> -->
            <table class="table table-bordered table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>Rank</th>
                        <th>Name</th>
                        <th>Place</th>
                        <th>User Number</th>
                        <th>Scores (G1-G5)</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let player of players">
                        <td>{{player.rank}}</td>
                        <td>{{player.name}}</td>
                        <td>{{player.place}}</td>
                        <td>{{player.userNumber}}</td>
                        <td>{{player.scores}}</td>
                        <td>{{player.total}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Leaderboard -->
        <!-- <div *ngIf="selectedTab === 'leaderboard'" class="table-responsive">
            <h5>Leaderboard</h5>
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Rank</th>
                        <th>Name</th>
                        <th>Total Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let l of leaderboard; let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{l.name}}</td>
                        <td>{{l.total}}</td>
                    </tr>
                </tbody>
            </table>
        </div> -->
    </div>
</div>